PORT=3000

# Database
DB_HOST=localhost
DB_PORT=54322
DB_USERNAME=postgres
DB_PASSWORD=postgres
DB_DATABASE=postgres
DB_STORAGE_URL=http://localhost:54321/storage/v1/s3

# External Services
SLACK_WEBHOOK=
SENTRY_NODE_DSN=

# Grafana
GF_SECURITY_ADMIN_USER=admin
GF_SECURITY_ADMIN_PASSWORD=
GF_SERVER_ROOT_URL=

# Prometheus
PROMETHEUS_EXTERNAL_URL=