services:
  app:
    image: dongho18/connect-gnu-node:latest
    pull_policy: always
    restart: always
    expose:
      - '3000'
    env_file:
      - .env
    networks:
      - connect-gnu-network
    deploy:
      resources:
        limits:
          memory: 512m
        reservations:
          memory: 512m

networks:
  connect-gnu-network:
    external: true
