services:
  connect-gnu-node:
    image: dongho18/connect-gnu-node:latest
    restart: always
    container_name: connect-gnu-node
    expose:
      - '3000'
    env_file:
      - .env
    networks:
      - connect-gnu-network
    deploy:
      resources:
        limits:
          memory: 512m
        reservations:
          memory: 512m

networks:
  connect-gnu-network:
    external: true
